<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="mainContainer">
        <!-- Contains Action that app has to perform -->
        <div id="actionContainer">
            
            <form action="/create-task" method="POST">
                    <div id="actionBlock">
                        <div id="titleContainer">
                            <i class="material-icons" style="font-size:36px; color:#f4f4f4">task_alt</i>ToDo
                        </div>
                        <input id="actionDescription" type="text" name="description" placeholder="Enter Task..." required>
                        <select name="category" id="actionCategory">
                            <option value="">Choose Category</option>
                            <option value="Personal">Personal</option>
                            <option value="Office Work">Office Work</option>
                            <option value="Other">Other</option>
                        </select>
                        <input  type="date" name="date" id="actionDate" placeholder="Date" required>
                        <button type="submit"><i class="material-icons" style="font-size:40px; color:#017a6e" >add_circle</i></button>
                    </div>                    
            </form>
        </div>
        <!-- Displays Task log table-->
        <div id="displayContainer">
            <div id="tableContainer">
                <form action="/delete-task" method="GET">
                    <table id="customers">
                        <tr>
                            <th>Select</th>
                            <th>Task</th>
                            <th>Category</th>
                            <th>Date</th>
                        </tr>
                        <% for(let i of task) { %>
                        <tr>
                            <td><input type="checkbox" name="<%= i._id %>"></td>
                            <td><%= i.description %></td>
                            <td><%= i.category %></td>
                            <td><%= i.date %></td>
                        </tr>
                        <% } %>
                      </table>
                    <div id="fixedButton">
                        <!-- <input type="submit" class="deleteBtn" value="Del"> -->
                        <button type="submit" class="deleteBtn"><i class="material-icons" style="font-size:40px; color:#a70c0c">delete_forever</i></button>
                    </div>
                </form> 
            </div>
                                     
        </div>

    </div>
    <script type="text/javascript"src="/js/home.js"></script>
</body>
</html>