:root{
    --bgColor: linear-gradient(to right bottom, #cad8e2, #d1dde7, #d8e3ec, #dfe8f1, #e6eef6);
    --neuShadow: 12px 12px 16px 0 #00000033,
    -8px -8px 12px 0 #ffffff80;
    --neuInsetShadow: 12px 12px 16px 0 #ffffff99 inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    --textShadow:-4px -4px 6px #ffffff99,
    4px 4px 6px rgba(0, 0, 0, 0.2);
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(to right bottom, #cad8e2, #d1dde7, #d8e3ec, #dfe8f1, #e6eef6);
}

#mainContainer{
    display: flex;
    flex-direction: column;
}
#titleContainer{
    border: 2px solid #e6eef6;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #e6eef6;
    font-size: 28px;
    background-image: var(--bgColor);
    box-shadow: var(--neuShadow);
    border-radius: 15px;
    margin-right: 2rem;
    padding: 10px 5px 0px 10px;
    background: #394856;
}

#actionContainer{
    height: 15vh;
}

#actionBlock{
    border-collapse: collapse;
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-top: 30px;
}
#actionDescription {
    margin: 0;
    border: none;
    width: 50%;
    padding: 16px;
    float: left;
    font-size: 16px;
    background-image: var(--bgColor);
    box-shadow: var(--neuShadow);
    border-radius: 15px;
    margin-right: 2rem;
}
#actionDate{
    margin: 0;
    border: none;
    width: 12%;
    padding: 14px;
    float: left;
    font-size: 16px;
    font-family: sans-serif;

    background-color: var(--bgColor);
    box-shadow: var(--neuShadow);
    border-radius: 15px;
    margin-right: 2rem;
}
#actionCategory {
    margin: 0;
    border: none;
    width: 15%;
    padding: 16px;
    float: left;
    font-size: 16px;
    background-color: var(--bgColor);
    box-shadow: var(--neuShadow);
    border-radius: 15px;
    margin-right: 2rem;
}
button {
    padding: 6px 6px 2px 6px;
    background: var(--bgColor);
    color: #008C7F;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 50%;
    float: left;
    box-shadow: var(--neuShadow)
}
  
button:hover {
    box-shadow: var(--neuInsetShadow);
}

#displayContainer{
    display: block;
    height: 85vh;
    margin: 0px;
}
#tableContainer{
    width: 90%;
    height:88%;
    margin-left: 4%;
    margin-top: 1%;
    padding: 20px;
    box-shadow: var(--neuShadow);
    border-radius: 5px;
    
}
#customers {
    border-collapse: collapse;
    width: 96%;
    display: table;
    margin-left: 2%;
    border-radius: 0px;
    background-color: var(--bgColor);
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
#customers tr{
    background-image: var(--bgColor);
}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #394856;
    color: white;
}


  /* DELETE FIXED BUTTON */
.deleteBtn {
    background : var(--bgColor);
    padding: 10px 11px 2px 11px;
    border-radius: 50%;
    box-shadow: var(--neuInsetShadow);
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ccdded;
}
.deleteBtn:hover{
    box-shadow: var(--neuShadow);
}
  
#fixedButton {
    position: fixed;
    bottom: 10px;
    left:3%;
}